@media screen and (max-width:400px) {
  .message-box-section .container {
    position: relative !important;
    top: 0 !important;
}
}








.row {
  margin-left: -.9375rem;
  margin-right: -.9375rem;
}

@font-face {
  font-family: Dhanikans;
  src: url(font.css/Dhanikans.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

.container-fluid::after, .container::after, .row::after {
  content: "";
  display: table;
  clear: both;
}

.carousel-inner>.carousel-item {
  backface-visibility: visible;
  perspective: 1000px;
  transition: opacity 0.8s ease-in-out 0s;
}

.carousel-inner>.carousel-item.active.right, .carousel-inner>.carousel-item.next {
  left: 0;
  -webkit-transition: opacity 0.7s ease-in-out;
  -moz-transition: opacity 0.7s ease-in-out;
  -ms-transition: opacity 0.7s ease-in-out;
  -o-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
  opacity: 0;
}

.carousel-inner>.carousel-item.active.left, .carousel-inner>.carousel-item.prev {
  left: 0;
  -webkit-transition: opacity 0.7s ease-in-out;
  -moz-transition: opacity 0.7s ease-in-out;
  -ms-transition: opacity 0.7s ease-in-out;
  -o-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
  opacity: 0;
}

.carousel-inner>.carousel-item.active, .carousel-inner>.carousel-item.next.left, .carousel-inner>.carousel-item.prev.right {
  left: 0;
  opacity: 1;
}

/* .destination-header .navigation-d {
  background-color: #FFF;
  border-bottom: 1px solid #EFEFEF;
  padding: 20px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  text-decoration: none;
}

ul.tab-bar {
  display: inline-flex;
  margin: 0;
  text-align: left;
  list-style: none;
}

ul.tab-bar>li {
  margin: 0 15px;
}

ul.tab-bar li a {
  border-bottom: 1px solid transparent;
  color: orangered;
  padding: 21px 0 22px;
  text-decoration: none;
}

.number-d {
  color: black;
  float: right;
  letter-spacing: 2px;
  text-align: right;
} */

.message-box-section {
  background: #EFEFEF;
  position: relative;
  z-index: 5;
}

.message-box-section .container {
  position: relative;
  top: -50px;
}

.message-box-section .column {
  background-color: #FFF;
  height: 100%;
  line-height: 30px;
  margin: 0 auto 1.875rem;
  max-width: 450px;
  padding: 45px 30px;
  text-align: center;
}

.message-box-section .column h3 {
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 25px;
  line-height: 1.38;
}

.message-box-section .column p {
  font-size: 18px;
  line-height: 1.56;
  margin: 0;
  padding-top: 0;
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
}

.row-flex>div {
  display: flex;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  flex-direction: column;
}

.video-section {
  padding-bottom: 80px;
}

.video-section .wiz {
  z-index: 2;
  position: relative;
}

.video-section .wiz_video_foam {
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.wiz_video_foam iframe, .wiz_video_foam object, .wiz_video_foam embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
}

.video-section h3 {
  color: black;
  text-transform: none;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.video-button {
  text-align: center;
  margin-top: 48px;
}

#intro {
  padding-top: 150px;
  padding-bottom: 100px;
}

.ellipsis {
  max-height: 300px;
  word-wrap: break-word;
  font-size: 0.7rem;
}

.review-published {
  color: #b2b2b2;
  font-size: 1rem;
  margin: 0 0 8px;
}

#our-tours {
  padding-bottom: 35px;
}

.underlined {
  text-align: center;
  padding-bottom: 60px;
}

.bg-grey {
  background: #EFEFEF;
  padding-bottom: 80px;
}

.card {
  margin-top: 30px;
}

.section {
  padding-top: 120px;
}

.team-quote {
  margin: 0 0 50px;
  /* overflow: hidden; */
}

.team-quote p {
  margin-top: 0;
}

.team-quote-author {
  margin-top: 20px;
}

.rounded-circle {
  border-radius: 100%;
}

.img-responsive {
  height: auto;
  max-width: 100%;
  width: 5em;
  display: block;
}

.team-name {
  font-size: 3rem;
  font-family: Dhanikans;
}

.team-role {
  font-size: 1.5rem;
  color: skyblue;
  padding-left: 20px;
}

.cta-section {
  padding: 80px 0;
  background: skyblue;
  color: #FFF;
  margin-top: 32px;
}

.cta-section .call {
  padding: 0 10px 0 0;
}

.cta-section .number {
  color: #FFF;
  font-size: 28px;
  font-weight: 500;
  line-height: 35px;
  position: relative;
  top: 3px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.cta-section p {
  font-size: 1.6rem;
  line-height: 1.38;
  margin: 0 0 30px;
  text-align: center;
}

.cta-section .or {
  padding: 0 10px;
}

.cta {
  color: skyblue;
}
