@media (min-width: 1200px){
  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
}

.jumbotron {
  background-image: url("../images/002.jpg");
  background-size: 100% 100%;
  height: 450px;
  max-height: 100%;
}

.destination-header .navigation-d {
   background-color: #FFF;
   border-bottom: 1px solid #EFEFEF;
   padding: 20px;
   position: absolute;
   left: 0;
   right: 0;
   z-index: 2;
   width: 100%;
   text-decoration: none;
 }

 ul.tab-bar {
   display: inline-flex;
   margin: 0;
   text-align: left;
   list-style: none;
 }

 ul.tab-bar>li {
   margin: 0 15px;
 }

 ul.tab-bar li a {
   border-bottom: 1px solid transparent;
   color: orangered;
   padding: 21px 0 22px;
   text-decoration: none;
 }

 .number-d {
   color: black;
   float: right;
   letter-spacing: 2px;
   text-align: right;
 }

#overview {
  padding-top: 3em;
  padding-bottom: 5em;
}

.overview-about {
  margin-top: 7em;
}

.lets-talk {
  margin-top: 140px;
  margin-left: auto;
  margin-right: auto;
  max-width: 380px;
  display: flex;
  align-items: stretch;
}

.lets-talk .inner-wrapper {
  width: 100%;
}

.lets-talk>div {
  background: #fff;
  border-top: 4px solid #c5b181;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .2);
  padding: 0 20px
}

.lets-talk .avatars {
  margin: -38px 0 5px;
  text-align: center;
}

.lets-talk .avatar {
  border-radius: 50%;
  border: 2px solid #fff;
  display: inline-block;
  height: 70px;
  margin: 0 auto;
  overflow: hidden;
  width: 70px;
}

.lets-talk .avatar img {
  height: auto;
  max-width: 100%;
}

.text-center.inner-wrapper>h3 {
  display: inline-block;
  font-size: 12px;
  color: #777a7d;
  margin: 0;
}

.lets-talk h4 {
  font-size: 22px;
}

.or-seperator {
  letter-spacing: .03em;
  margin-bottom: 10px;
  font-size: 10px;
  color: grey;
}

.cta {
  padding-bottom: 40px;
}




/* ----------MAYA TOUR STYLES--------- */
.gallery-block{
  padding-bottom: 60px;
  padding-top: 60px;
}



/* .gallery-block .heading{
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block .heading h2{
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
} */

.gallery-block.compact-gallery .item{
  overflow: hidden;
  margin-bottom: 0;
  background: none;
  opacity: 1;
  max-width: 240px !important;
}

.gallery-block.compact-gallery .item .image{
  transition: 0.8s ease;
}

.gallery-block.compact-gallery .item .info{
  position: relative;
    display: inline-block;
}

.gallery-block.compact-gallery .item .description{
  display: grid;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    font-size: 17px;
    line-height: 18px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 1;
    color: #fff;
    transition: 0.8s ease;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.39));
}

/* .gallery-block.compact-gallery .item .description .description-heading{
  font-size: 1em;
  font-weight: bold;
}

.gallery-block.compact-gallery .item .description .description-body{
  font-size: 0.8em;
  margin-top: 10px;
  font-weight: 300;
} */

@media (min-width: 576px) {

  .gallery-block.compact-gallery .item .description {
    opacity: 0;
  }

  .gallery-block.compact-gallery .item a:hover .description {
    opacity: 1;
  }

  .gallery-block .zoom-on-hover:hover .image {
    transform: scale(1.3);
    opacity: 0.7;
  }
}





/* Itineraries */

.itinerarie-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content {
  max-width: 100%;
  width: 100%;
  text-align: center;
}

.content ul {
  list-style: lower-latin;
}



.content:hover {
  cursor: context-menu;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;

}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  width: 100%;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.tour-map {
 max-height: auto;
 width: 100%;
 padding: 5em;
}

.tour-map img{
 width: 100%;
 max-width: 100%;
 box-shadow: 6px 10px 19px 2px darkgrey;
}

.tailormake-holiday {
   background: #1c818d url("https://www.hayesandjarvis.co.uk/profiles/hnj/themes/custom/hnj_theme/assets/images/tailormake_holiday@2x.jpg");
   background-size: cover;
   color: #fff;
   margin-bottom: 50px;
   overflow: hidden;
   padding: 70px 52px;
 }

 /* .tailormake-columns>div+div::before {
     content: "";
     background: #fff;
     display: block;
     height: 1px;
     margin: 30px auto;
     opacity: .5;
     width: 60px;
   } */

.tailormake-holiday h2 {
   margin-bottom: 40px;
   margin-top: 0;
 }

 .tailormake-columns>div {
   padding: 0 105px;
   position: relative;
   }

.tailormake-columns h3{
 margin-top: 0;
text-indent: -5px;
}

.tailormake-columns p:last-child {
   margin-bottom: 0;
}
